@use '@/variables.module.scss' as v;

.sliderLabelContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sliderContainer {
    flex: 1 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    max-height: 3rem;
}

.slider {
    min-width: 80%;
    min-height: 0.75rem;
    max-height: 1.5rem;

    border-radius: 0.5rem;
    background: #262626;
    box-shadow: inset 0px 2px 4px #00000061;
    outline: none;
    opacity: 1;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: opacity 0.2s;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: textfield;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 1.5rem;
    height: 1.5rem;

    border-radius: 1.5rem;
    box-shadow: 0px 2px 9px #000000cb;
    background-image: v.$ultraleap-green-gradient;
}

.slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 1.5rem;
    box-shadow: 0px 2px 9px #000000cb;
    background-image: v.$ultraleap-green-gradient;
}

.sliderText {
    background: transparent;
    border: none;
    max-width: 4rem;
    min-height: 3rem;
    padding: 0px;

    text-align: center;
    font-family: MontserratBold, Arial;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 2px 6px #0000004d;
}

.sliderTextContainer {
    min-height: 3rem;
    margin-right: 0.8rem;

    background: v.$light-grey-gradient;
    box-shadow: 0px 2px 5px #00000080;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
}
