@use '@/variables.module.scss' as v;

.tf-button {
    background: v.$dark-grey-gradient;
    box-shadow: 0px 2px 10px #00000099;
    border: 1px solid #ffffff1a;
    border-radius: 10px;

    user-select: none;

    &--hovered {
        box-shadow: 0px 0px 30px v.$ultraleap-green;
    }

    &--pressed {
        box-shadow: 0px 0px 30px white;
        transform: scale(0.95, 0.95);
    }

    h1 {
        color: white;
        text-align: left;
        font-size: 26px;
        font-family: v.$base-font;
        font-weight: normal;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    p {
        color: white;
        text-align: left;
        font-size: 20px;
        font-family: v.$base-font;
        opacity: 0.5;
        padding-left: 20px;
        min-height: 40px;
    }

    img {
        pointer-events: none;
    }
}

.horizontal-tf-button {
    $button-width: 95%;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: $button-width;
    margin-left: calc((100% - $button-width) / 2);

    .tf-button-text-container {
        width: 65%;
        align-self: flex-end;
        padding-bottom: 3%;
    }

    img {
        margin: auto;
        width: 16%;
    }
}

.text-tf-button {
    p {
        padding: 0;
        text-align: center;
        line-height: 40px;
    }
}
