# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Logs/

# ======= #
# Node.js #
# ======= #

**/node_modules/*
**/node_modules/**

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
.vscode/

# ================#
# JetBrains Rider #
# ================#
.idea/
*JetBrains.meta
JetBrains/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon\?
ehthumbs.db
Thumbs.db

# ====================== #
#  Ultraleap generated   #
# ====================== #
Builds/
Build/
AssetDirStat.asset

# =============== #
#  Documentation  #
# =============== #
Documentation/Client for Web*
Documentation/Client for Unity*
!Documentation/Info.md
!Documentation/Client for Web/Info.md
!Documentation/Client for Unity/Info.md
*/NaturalDocs_Config/Working Data/**

# ========= #
#  Testing  #
# ========= #

package-lock.json
**/usage.txt
Testing/ServiceSocketTests/results/*
Testing/ServiceSocketTests/results/**
!Testing/ServiceSocketTests/results/results.md
**/PUT_TEST_BUILD_IN_HERE/*
!**/PUT_TEST_BUILD_IN_HERE/info.md