variables:
  GIT_SUBMODULE_STRATEGY: recursive
  TF_SERVICE_PROJECT_PATH: $CI_PROJECT_DIR/TF_Service_and_Tooling_Unity
  TF_PROJECT_PATH: $CI_PROJECT_DIR/TF_Application
  UNITY_HUB: "C:/Program Files/Unity Hub/Unity Hub.exe"

  TF_TFW_PATH: $CI_PROJECT_DIR/TF_Tooling_Web
  TF_TFU_PATH: $CI_PROJECT_DIR/TF_Service_and_Tooling_Unity/Assets/TouchFree/Tooling
  TF_SRV_PATH: $CI_PROJECT_DIR/TF_Service_and_Tooling_Unity/Assets/TouchFree/Service

  TF_TFU_VERSION: '1.0.0'
  TF_TFW_VERSION: '1.0.0'
  TOUCHFREE_VERSION: '2.1.0'

  TF_TOOLING_API_VERSION: '1.1.0'

stages:
  - build
  - test
  - package
  - installer

TF_Tooling::Unity::build:
  stage: build
  when: always
  script:
    # Get Unity version and changeset from the project.
    - $line = Get-Content  $TF_SERVICE_PROJECT_PATH/ProjectSettings/ProjectVersion.txt | Select -Index 1
    - $UNITY_VERSION = $line -Split " " | Select -Index 1
    - $UNITY_CHANGESET = $line -Match '\((.+)\)' | ForEach-Object { $Matches[1] }
    # Check whether the required Unity version is installed. If not, install it.
    - Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless editors --installed"
    - Get-Content "tmp.txt"
    - Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless install-path --set C:/Unity"
    - Get-Content "tmp.txt"
    - if (-not (Test-Path "C:/Unity/$UNITY_VERSION")) { Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless install --version $UNITY_VERSION --changeset $UNITY_CHANGESET" }
    - Get-Content "tmp.txt"

    - $UNITY_EXE = "C:/Unity/$UNITY_VERSION/Editor/Unity.exe"
    - echo "$UNITY_EXE"

    # Update Version.txt with latest information before packaging
    - python ./Scripts/UpdateVersionFile.py --path ${env:TF_TFU_PATH}/Version.txt --swVer ${env:TF_TFU_VERSION} --apiVer ${env:TF_TOOLING_API_VERSION} --ref ${env:CI_COMMIT_SHORT_SHA}
    # Copy Version.txt to Tooling_Release folder
    - if (Test-Path -Path "./Tooling_Release") {
        Remove-Item -LiteralPath ./Tooling_Release -Force -Recurse
        Remove-Item -LiteralPath ./Tooling_Release -Force -Recurse
      }
    - mkdir ./Tooling_Release
    - cp ${env:CI_PROJECT_DIR}/TF_Service_and_Tooling_Unity/Assets/TouchFree/Tooling/Version.txt ./Tooling_Release

    # Package Tooling
    - cd ./Scripts
    - "& ./package_unity_Tooling.bat $UNITY_EXE"
  artifacts:
    name: "Tooling_for_Unity_Build_${env:CI_COMMIT_SHORT_SHA}"
    paths:
      - ./Tooling_Release/*
      - ./Tooling_for_Unity_package.log
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TF_Tooling::Web::build:
  stage: build
  when: always
  script:
    # Update Version.txt with latest information before packaging
    - python ./Scripts/UpdateVersionFile.py --path ${env:TF_TFW_PATH}/Version.txt --swVer ${env:TF_TFW_VERSION} --apiVer ${env:TF_TOOLING_API_VERSION} --ref ${env:CI_COMMIT_SHORT_SHA}
    # Build Tooling
    - cd ${env:TF_TFW_PATH}
    - npm i
    - npm run build
    # Clean last build
    - cd ${env:CI_PROJECT_DIR}
    - if (Test-Path -Path "./Tooling_Release") {
        Remove-Item -LiteralPath ./Tooling_Release -Force -Recurse
        Remove-Item -LiteralPath ./Tooling_Release -Force -Recurse
      }
    # Package Tooling
    - mkdir ./Tooling_Release
    - cp ${env:TF_TFW_PATH}/Version.txt ./Tooling_Release
    - cp -r ${env:TF_TFW_PATH}/dist ./Tooling_Release
    - cp -r ${env:TF_TFW_PATH}/Plugins ./Tooling_Release
    - cp -r ${env:TF_TFW_PATH}/quick-start ./Tooling_Release
  artifacts:
    name: "Tooling_for_Web_Build_${env:CI_COMMIT_SHORT_SHA}"
    paths:
      - ./Tooling_Release/*
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TF_Tooling::Docs::build:
  stage: build
  when: always
  image: registry.ultrahaptics.com/apps/infrastructure/docker-naturaldocs:main
  script:
    - mono "/opt/Natural Docs/NaturalDocs.exe" $CI_PROJECT_DIR/TF_Service_and_Tooling_Unity/NaturalDocs_Config
    - mono "/opt/Natural Docs/NaturalDocs.exe" $CI_PROJECT_DIR/TF_Tooling_Web/NaturalDocs_Config
  artifacts:
    name: "TouchFree_Tooling_Documentation"
    paths:
    - ./Documentation/*
    expire_in: 2 weeks
    when: always
  tags:
    - docker

TF_Service::Wrapper::build:
  stage: build
  when: always
  script:
    - MSBuild.exe $CI_PROJECT_DIR/TF_Service_Utilities/ServiceWrapper/ServiceWrapper.sln /p:Configuration=Release /p:Platform=x64
    # Move the built wrapper to the root directory
    - mkdir ./Service_Wrapper_Build
    - cp -r $CI_PROJECT_DIR/TF_Service_Utilities/ServiceWrapper/ServiceWrapper/bin/x64/Release/* ./Service_Wrapper_Build

    # Sign the executable with the UltraLeap certificate
    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath $CI_PROJECT_DIR/Service_Wrapper_Build/ServiceWrapper.exe -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert
  artifacts:
    name: "TouchFree_Service_Wrapper"
    paths:
    - ./Service_Wrapper_Build/**
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TF_Service::dotNet::Windows::build:
  stage: build
  when: always
  script:
    - dotnet build -c Release -r win-64 "$CI_PROJECT_DIR/TF_Service_dotNet/TouchFree Service/TouchFree Service.sln"

    # Move the built executable to the root directory
    - mkdir ./Service_dotNet_Build
    - cp -r "$CI_PROJECT_DIR/TF_Service_dotNet/TouchFree Service/bin/Release/net5.0/*" ./Service_dotNet_Build

    # Sign the executable with the UltraLeap certificate
    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath "$CI_PROJECT_DIR/Service_dotNet_Build/TouchFree Service.exe" -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert
  artifacts:
    name: "TouchFree_Service_dotNet"
    paths:
    - ./Service_dotNet_Build/**
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TF_Service::dotNet::ARMLinux::build:
  stage: build
  when: always
  script:
    - dotnet build -c Release -r linux-arm64 "$CI_PROJECT_DIR/TF_Service_dotNet/TouchFree Service/TouchFree Service.sln"

    # Move the built executable to the root directory
    - mkdir ./Service_dotNet_Build
    - cp -r "$CI_PROJECT_DIR/TF_Service_dotNet/TouchFree Service/bin/Release/net5.0/*" ./Service_dotNet_Build

    # Sign the executable with the UltraLeap certificate
    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath "$CI_PROJECT_DIR/Service_dotNet_Build/TouchFree Service.exe" -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert
  artifacts:
    name: "TouchFree_Service_dotNet"
    paths:
    - ./Service_dotNet_Build/**
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TF_Service::dotNet::test:
  stage: test
  when: always
  script:
    # Run unit tests
    - dotnet test "$CI_PROJECT_DIR/TF_Service_dotNet/TouchFreeTests/TouchFreeTests.csproj" --logger:"junit;LogFilePath=$CI_PROJECT_DIR/TestResults/Test_Results.xml;MethodFormat=Class;FailureBodyFormat=Verbose"

  artifacts:
    when: always
    name: "TestResults"
    paths:
    - $CI_PROJECT_DIR/TestResults/Test_Results.xml
    reports:
      junit: $CI_PROJECT_DIR/TestResults/Test_Results.xml
  tags:
    - unity
    - win10

TF_Service::Tray::build:
  stage: build
  when: always
  script:
    - MSBuild.exe $CI_PROJECT_DIR/TF_Service_Utilities/ServiceUITray/ServiceUITray.sln /p:Configuration=Release /p:Platform=x64
    # Move the built tray app to the root directory
    - mkdir ./Service_Tray_Build
    - cp -r $CI_PROJECT_DIR/TF_Service_Utilities/ServiceUITray/ServiceUITray/bin/x64/Release/* ./Service_Tray_Build

    # Sign the executable with the UltraLeap certificate
    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath $CI_PROJECT_DIR/Service_Tray_Build/ServiceUITray.exe -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert
  artifacts:
    name: "TouchFree_Service_Tray"
    paths:
    - ./Service_Tray_Build/**
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TF_Service::build:
  stage: build
  when: always
  script:
    # Get Unity version and changeset from the project.
    - $line = Get-Content  $TF_SERVICE_PROJECT_PATH/ProjectSettings/ProjectVersion.txt | Select -Index 1
    - $UNITY_VERSION = $line -Split " " | Select -Index 1
    - $UNITY_CHANGESET = $line -Match '\((.+)\)' | ForEach-Object { $Matches[1] }
    # Check whether the required Unity version is installed. If not, install it.
    - Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless editors --installed"
    - Get-Content "tmp.txt"
    - Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless install-path --set C:/Unity"
    - Get-Content "tmp.txt"
    - if (-not (Test-Path "C:/Unity/$UNITY_VERSION")) { Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless install --version $UNITY_VERSION --changeset $UNITY_CHANGESET" }
    - Get-Content "tmp.txt"

    - $UNITY_EXE = "C:/Unity/$UNITY_VERSION/Editor/Unity.exe"
    - echo "$UNITY_EXE"

    # Update Version.txt with latest information before packaging
    - python ./Scripts/UpdateVersionFile.py --path ${env:TF_SRV_PATH}/Version.txt --swVer ${env:TOUCHFREE_VERSION} --apiVer ${env:TF_TOOLING_API_VERSION} --ref ${env:CI_COMMIT_SHORT_SHA}
    - mkdir $CI_PROJECT_DIR/Build
    - cp ${env:TF_SRV_PATH}/Version.txt $CI_PROJECT_DIR/Build
    - mkdir $CI_PROJECT_DIR/UIBuild
    - cp ${env:TF_SRV_PATH}/Version.txt $CI_PROJECT_DIR/UIBuild

    # Update ProjectSettings file with correct version & build service
    - cd ./Scripts
    - python ./UpdateUnityProjVer.py --path ../TF_Service_and_Tooling_Unity/ProjectSettings/ProjectSettings.asset --ver ${env:TOUCHFREE_VERSION}
    - "& ./build_service.bat $UNITY_EXE"
    - python ./UpdateBuildSettings_Service.py --path ../TF_Service_and_Tooling_Unity/ProjectSettings/EditorBuildSettings.asset
    - "& ./build_settingsUI.bat $UNITY_EXE"

    # Sign the executable with the UltraLeap certificate
    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath $CI_PROJECT_DIR/Build/TouchFree_Service.exe -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert

    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath $CI_PROJECT_DIR/UIBuild/TouchFreeSettingsUI.exe -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert
  artifacts:
    name: "TouchFree_Service_${env:TOUCHFREE_VERSION}_${env:CI_COMMIT_SHORT_SHA}"
    paths:
    - Build/**
    - UIBuild/**
    - ./Service_build.log
    - ./SettingsUI_build.log
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TouchFree::build:
  stage: build
  when: always
  script:
    # Get Unity version and changeset from the project.
    - $line = Get-Content  $TF_PROJECT_PATH/ProjectSettings/ProjectVersion.txt | Select -Index 1
    - $UNITY_VERSION = $line -Split " " | Select -Index 1
    - $UNITY_CHANGESET = $line -Match '\((.+)\)' | ForEach-Object { $Matches[1] }

    # Check whether the required Unity version is installed. If not, install it.
    - Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless editors --installed"
    - Get-Content "tmp.txt"
    - Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless install-path --set C:/Unity"
    - Get-Content "tmp.txt"
    - if (-not (Test-Path "C:/Unity/$UNITY_VERSION")) { Start-Process -Wait -RedirectStandardOutput "tmp.txt" -FilePath "$UNITY_HUB" -ArgumentList "-- --headless install --version $UNITY_VERSION --changeset $UNITY_CHANGESET" }
    - Get-Content "tmp.txt"

    - $UNITY_EXE = "C:/Unity/$UNITY_VERSION/Editor/Unity.exe"
    - echo "$UNITY_EXE"

    # Update Version.txt with latest information before packaging
    - python ./Scripts/UpdateVersionFile.py --path ${env:TF_PROJECT_PATH}/Assets/TouchFree_Application/Version.txt --apiVer ${env:TF_TOOLING_API_VERSION} --swVer ${env:TOUCHFREE_VERSION} --ref ${env:CI_COMMIT_SHORT_SHA}

    # Copy Version.txt to build folder
    - if (Test-Path -Path "./TouchFree_Build") {
        Remove-Item -LiteralPath ./TouchFree_Build -Force -Recurse
        Remove-Item -LiteralPath ./TouchFree_Build -Force -Recurse
      }
    - mkdir ./TouchFree_Build
    - cp ${env:CI_PROJECT_DIR}/TF_Application/Assets/TouchFree_Application/Version.txt ./TouchFree_Build

    # Build TouchFree
    - cd ./Scripts
    - python ./UpdateUnityProjVer.py --path ../TF_Application/ProjectSettings/ProjectSettings.asset --ver ${env:TOUCHFREE_VERSION}
    - "& ./build_touchfree.bat $UNITY_EXE"

    # Sign the executable with the UltraLeap certificate
    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath $CI_PROJECT_DIR/TouchFree_Build/TouchFree.exe -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert

  artifacts:
    name: "TouchFree_Build_${env:CI_COMMIT_SHORT_SHA}"
    paths:
      - ./TouchFree_Build/*
      - ./TouchFree_build.log
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TF_Service::test:
  stage: test

  dependencies:
    - TF_Service::build
  needs: ["TF_Service::build"]

  script:
    - cd ./Testing/ServiceSocketTests/
    - npm install
    - ./node_modules/.bin/gulp build_machine_run

  artifacts:
    name: test_results
    paths:
      - ./Testing/ServiceSocketTests/results/**
      - ./Testing/ServiceSocketTests/PUT_TEST_BUILD_IN_HERE/**
    reports:
      junit: ./Testing/ServiceSocketTests/results/test_results.xml
    when: always
  tags:
    - unity
    - win10

TF_Tooling::Web::package:
  stage: package
  image: alpine:3.13
  dependencies:
    - TF_Tooling::Web::build
    - TF_Tooling::Docs::build
  needs: [
    "TF_Tooling::Web::build",
    "TF_Tooling::Docs::build"
  ]
  script:
    - mkdir ./Tooling_Package/
    - cp -r ./Tooling_Release/* ./Tooling_Package/
    - cp -r "./Documentation/Tooling for Web/" ./Tooling_Package/Documentation/
  artifacts:
    name: "TouchFree_Tooling_for_Web_${TF_TFW_VERSION}_${CI_COMMIT_SHORT_SHA}"
    paths:
      - ./Tooling_Package/*
    expire_in: 2 weeks
    when: always
  tags:
    - docker

TF_Tooling::Unity::package:
  stage: package
  image: alpine:3.13
  dependencies:
    - TF_Tooling::Unity::build
    - TF_Tooling::Docs::build
  needs: [
    "TF_Tooling::Unity::build",
    "TF_Tooling::Docs::build"
  ]
  script:
    - mkdir ./Tooling_Package/
    - cp -r ./Tooling_Release/* ./Tooling_Package/
    - cp -r "./Documentation/Tooling for Unity/" ./Tooling_Package/Documentation/
  artifacts:
    name: "TouchFree_Tooling_for_Unity_${TF_TFU_VERSION}_${CI_COMMIT_SHORT_SHA}"
    paths:
      - ./Tooling_Package/*
    expire_in: 2 weeks
    when: always
  tags:
    - docker

TF_Service::package:
  stage: package
  dependencies:
    - TF_Service::build
    - TF_Service::Wrapper::build
    - TF_Service::Tray::build
  needs: [
    "TF_Service::build",
    "TF_Service::Wrapper::build",
    "TF_Service::Tray::build"
  ]
  script:
    # Package Service up neatly
    - mkdir ./Service_Package/
    - mkdir ./Service_Package/Licenses/
    - mkdir ./Service_Package/Service/
    - mkdir ./Service_Package/SettingsUI/
    - mkdir ./Service_Package/Wrapper/
    - mkdir ./Service_Package/Tray/
    - cp -r ./Build/* ./Service_Package/Service/
    - cp -r ./UIBuild/* ./Service_Package/SettingsUI/
    - cp -r ./Service_Wrapper_Build/* ./Service_Package/Wrapper/
    - cp -r ./Service_Tray_Build/* ./Service_Package/Tray/
    - cp -r ./Third_Party_Licenses/* ./Service_Package/Licenses/

  artifacts:
    name: "TouchFree_Service_Package_${CI_COMMIT_SHORT_SHA}"
    paths:
      - ./Service_Package
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10

TouchFree::installer:
  stage: installer
  dependencies:
    - TF_Service::package
    - TouchFree::build
  needs: [
    "TF_Service::package",
    "TouchFree::build"
  ]
  script:
    # Run innosetup
    - cd ./Scripts/
    - "& ./compile_installer.bat ${env:TOUCHFREE_VERSION} $CI_PROJECT_DIR/TF_Service_Utilities/Installer/TouchFree_Installer.iss"

    # Sign the installer with the UltraLeap certificate
    - $cert=Get-ChildItem -Path Cert:\LocalMachine\My -CodeSigningCert
    - Set-AuthenticodeSignature -FilePath "$CI_PROJECT_DIR/Installer_Build/TouchFree_${TOUCHFREE_VERSION}_Installer.exe" -TimestampServer 'http://timestamp.comodoca.com/authenticode' -Certificate $cert
  artifacts:
    name: "TouchFree_Installer_${TOUCHFREE_VERSION}_${CI_COMMIT_SHORT_SHA}"
    paths:
      - ./Installer_Build/*.exe
    expire_in: 2 weeks
    when: always
  tags:
    - unity
    - win10
