[submodule "submodules/UnityPlugin"]
	path = submodules/UnityPlugin
	url = https://github.com/ultraleap/UnityPlugin.git
[submodule "submodules/TouchFreeWebTooling"]
	path = submodules/TouchFreeWebTooling
	url = https://github.com/ultraleap/TouchFreeWebTooling.git
