@use '@/variables.module.scss' as v;

.docs-modal--cover {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.docs-modal--container {
    $height: 40vh;
    position: absolute;
    z-index: 3;
    height: $height;
    top: calc((100vh - $height) / 2);
    width: 80vw;
    left: 10vw;

    border-radius: 20px;

    background: v.$light-grey-gradient;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .qr-code--container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 70%;
        width: 100%;

        .qr-img--container {
            border: 20px solid white;
            border-radius: 10px;
            height: 95%;
            margin-left: 5%;
            aspect-ratio: 1/1;

            > svg {
                pointer-events: none;
            }
        }

        > h1 {
            padding: 0 5%;
            font-size: 1.8rem;
            font-family: v.$base-font;
            color: white;
        }
    }
}

.docs-modal-buttons--container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .modal-button {
        width: 40%;
        height: 80%;

        > h1 {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 2rem;
        }
    }

    .link-modal-button--container {
        width: 40%;
        height: 80%;

        .modal-button {
            width: 100%;
            height: 100%;
        }
    }
}

#docs-button--container .docs-button {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: 25vw;
    height: 4vh;

    padding: 0.3rem;

    background-image: linear-gradient(180deg, #353535, #2d2d2d), linear-gradient(180deg, #00eb86, #00cdcf);
    background-clip: content-box, border-box;
    border-radius: 50px;

    &--hovered {
        box-shadow: none;
        background-image: linear-gradient(180deg, v.$ultraleap-green, #00ccce),
            linear-gradient(180deg, v.$ultraleap-green, #00cdcf);
    }

    > h1 {
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
        color: white;
        text-align: center;
    }
}
