@use '@/variables.module.scss' as v;

.control-bar-container {
    position: sticky;
    top: 0;
    height: v.$control-bar-height;
    background-image: linear-gradient(270deg, #3c3c3c, #2f2f2f);
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.control-bar-logo {
    justify-self: center;
    width: 30rem;
}
