$app-width: 1080px;
$app-margin-left: calc((100% - $app-width) / 2);
$control-bar-size: 260px;
$app-background-color: #222222;
$ultraleap-green: #00eb85;
$light-grey-gradient: linear-gradient(180deg, #5c5c5c 0%, #454545 100%);
$dark-grey-gradient: linear-gradient(180deg, #373737 0%, #2c2c2c 100%);
$base-font: MontserratRegular, Arial;
$button-border-radius: 10px;

:export {
    appWidth: $app-width;
    appMarginLeft: $app-margin-left;
    controlBarSize: $control-bar-size;
    appBackgroundColor: $app-background-color;
    ultraleapGreen: $ultraleap-green;
    lightGreyGradient: $light-grey-gradient;
    darkGreyGradient: $dark-grey-gradient;
    baseFont: $base-font;
    buttonBorderRadius: $button-border-radius;
}
