.cameraPageDivider {
    height: 200px;
}

.screenFrontWrapper, .screenSideWrapper {
    width: 450px;
    height: 500px;
    overflow: hidden;
}

.screenFrontMock {
    width: 450px;
    height: 500px;
    position: relative;
    margin-top: -210px;
    margin-left: -550px;
}

.screenFrontLabel {
    top: 638px;
    left: 624px;
    width: 337px;
    height: 24px;

    text-align: center;
    color: #FFFFFF;
    position: absolute;
    opacity: 0.5;
}

.screenFrontOutside {
    top: 284px;
    left: 678px;
    width: 231px;
    height: 338px;
    background: transparent linear-gradient(146deg, #535353 0%, #313131 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    position: absolute;
}

.screenFrontInside {
    top: 296px;
    left: 689px;
    width: 209px;
    height: 314px;

    background: transparent linear-gradient(146deg, #909090 0%, #454545 100%) 0% 0% no-repeat padding-box;
    position: absolute;
}

.screenFrontCamera {
    top: 245px;
    left: 761px;
    width: 66px;
    height: 29px;

    background: transparent linear-gradient(90deg, #FFFFFF 0%, #E8E8E8 23%, #E8E8E8 77%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
    position: absolute;
}

.cameraLeftToRight .screenFrontCamera {
    left: 703px;
}

.screenFrontCameraBottom {
    top: 22px;
    position: relative;
    background: transparent linear-gradient(180deg, #000000 0%, #808080 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 9px 9px;
    width: 66px;
    height: 7px;
}

.screenFrontCenterLineVert {
    top: 298px;
    left: 794px;
    width: 0px;
    height: 314px;

    border-left: 4px dotted #00EB85;
    position: absolute;
}

.cameraHeight .screenFrontCenterLineVert {
    top: 276px;
    height: 333px;
}

.cameraLeftToRight .screenFrontCenterLineVert {
    top: 278px;
    left: 736px;
    width: 57px;
    height: 351px;
    
    border-left: 3px solid #00EB85;
    border-right: 3px solid #00EB85;
}

.screenTilt .screenFrontCenterLineVert,
.cameraRotation .screenFrontCenterLineVert {
    display: none;
}

.cameraDistanceFromScreen .screenFrontCenterLineVert {
    top: 598px;
    left: 782px;
    width: 20px;
    height: 20px;

    border: 3px solid #00EB85;
    border-radius: 20px;
}

.screenFrontTopLine {
    top: 296px;
    left: 652px;
    width: 288px;
    height: 0px;

    border-top: 3px solid #00EB85;
    position: absolute;
}

.cameraHeight .screenFrontTopLine {
    top: 274px;
    left: 790px;
    width: 12px;
    height: 0px;

    border-top: 3px solid #00EB85;
    position: absolute;
}

.cameraLeftToRight .screenFrontTopLine {
    top: 453px;
    left: 742px;
    width: 52px;
    height: 0px;

    border-top: 4px dotted #00EB85;
}

.screenTilt .screenFrontTopLine,
.cameraRotation .screenFrontTopLine,
.cameraDistanceFromScreen .screenFrontTopLine {
    display: none;
}

.screenFrontBottomLine {
    top: 609px;
    left: 652px;
    width: 288px;
    height: 0px;

    border-top: 3px solid #00EB85;
    position: absolute;
}

.cameraLeftToRight .screenFrontBottomLine,
.screenTilt .screenFrontBottomLine,
.cameraRotation .screenFrontBottomLine,
.cameraDistanceFromScreen .screenFrontBottomLine {
    display: none;
}

.screenSideMock {
    width: 450px;
    height: 500px;
    position: relative;
    margin-top: -710px;
    margin-left: -550px;
}

.screenSideLabel {
    top: 1119px;
    left: 624px;
    width: 337px;
    height: 24px;
    
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    opacity: 0.5;
}

.screenSideOutside {
    top: 763px;
    left: 779px;
    width: 32px;
    height: 338px;
    
    background: transparent linear-gradient(175deg, #525252 0%, #323232 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px 0px 0px 10px;

    position: absolute;
}

.screenTilt .screenSideOutside {
    top: 766px;
    left: 748px;
    width: 32px;
    height: 335px;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
}

.screenSideInside {
    top: 775px;
    left: 811px;
    width: 10px;
    height: 314px;
    
    background: transparent linear-gradient(90deg, #D0D0D0 0%, #D0D0D000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.54;
    position: absolute;
}

.screenTilt .screenSideInside {
    top: 775px;
    left: 779px;
    width: 10px;
    height: 306px;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);

    background: transparent linear-gradient(90deg, #D0D0D0 0%, #D0D0D000 100%) 0% 0% no-repeat padding-box;
    position: absolute;
}

.screenSideCenterLineVert {
    top: 776px;
    left: 840px;
    width: 0px;
    height: 314px;

    border-left: 4px dotted #00EB85;
    position: absolute;
}

.cameraHeight .screenSideCenterLineVert {
    top: 752px;
    left: 890px;
    width: 0px;
    height: 337px;
}

.cameraLeftToRight .screenSideCenterLineVert {
    display: none;
}

.screenTilt .screenSideCenterLineVert {
    left: 825px;
    top: 763px;
    height: 338px;
}

.cameraRotation .screenSideCenterLineVert {
    left: 985px;
    top: 746px;
    height: 358px;
    transform-origin: 0% 100%;
    transform: rotate(-15deg);
}

.cameraDistanceFromScreen .screenSideCenterLineVert {
    top: 750px;
    left: 890px;
    width: 0px;
    height: 348px;

    border-left: 3px solid #00EB85;
}

.cameraDistanceFromScreen .screenSideExtraLineVert {
    top: 1077px;
    left: 810px;
    width: 0px;
    height: 21px;

    border-left: 3px solid #00EB85;
    position: absolute;
}

.screenSideTopLine {
    top: 775px;
    left: 814px;
    width: 55px;
    height: 0px;

    border-top: 3px solid #00EB85;
    position: absolute;
}

.cameraHeight .screenSideTopLine {
    top: 752px;
    left: 886px;
    width: 12px;
}

.cameraLeftToRight .screenSideTopLine,
.screenTilt .screenSideTopLine,
.cameraRotation .screenSideTopLine,
.cameraDistanceFromScreen .screenSideTopLine {
    display: none;
}

.screenSideBottomLine {
    top: 1090px;
    left: 814px;
    width: 55px;
    height: 0px;

    border-top: 3px solid #00EB85;
    position: absolute;
}

.cameraHeight .screenSideBottomLine {
    top: 1089px;
    width: 155px;
}

.cameraLeftToRight .screenSideBottomLine,
.screenTilt .screenSideBottomLine,
.cameraRotation .screenSideBottomLine {
    display: none;
}

.cameraDistanceFromScreen .screenSideBottomLine {
    top: 1086px;
    left: 816px;
    width: 70px;

    border-top: 4px dotted #00EB85;
}

.screenSideCamera {
    top: 721px;
    left: 869px;
    width: 39px;
    height: 36px;
    transform: matrix(0.97, -0.24, 0.24, 0.97, 0, 0);

    background: transparent linear-gradient(90deg, #FFFFFF 0%, #E8E8E8 23%, #E8E8E8 77%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 9px;
    position: absolute;
}

.screenSideCameraBottom {
    margin-top:27px;
    width: 39px;
    height: 9px;

    background: transparent linear-gradient(180deg, #000000 0%, #808080 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 9px 9px;
}

.screenTilt .screenSideTiltBox {
    overflow: hidden;
    top: 420px;
    left: 737px;
    width: 350px;
    height: 350px;
    transform-origin: 0% 100%;
    transform: rotate(75deg) skew(75deg);

    position: absolute;
}

.screenTilt .screenSideTiltBox::before {
    content: " ";
    transform-origin: 0% 100%;
    transform: skew(-75deg);
    width: 350px;
    height: 350px;
    opacity: 0.17;
    background: transparent linear-gradient(180deg, #00EB85 0%, #00CCCE 100%) 0% 0% no-repeat padding-box;
    border-top-left-radius: 350px;
    position: absolute;
    left: 0;
    top: 0;
}

.cameraRotation .screenSideTiltBox {
    overflow: hidden;
    top: 745px;
    left: 985px;
    width: 350px;
    height: 350px;
    transform-origin: 0% 100%;
    transform: rotate(255deg) skew(75deg);

    position: absolute;
}

.cameraRotation .screenSideTiltBox::before {
    content: " ";
    transform-origin: 0% 100%;
    transform: skew(-75deg);
    width: 350px;
    height: 350px;
    opacity: 0.17;
    background: transparent linear-gradient(180deg, #00EB85 0%, #00CCCE 100%) 0% 0% no-repeat padding-box;
    border-top-left-radius: 350px;
    position: absolute;
    left: 0;
    top: 0;
}