.topBarStyle {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    min-width: 0px;
    min-height: 0px;
}

.tabBarStyle {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5.6rem;
}

.overallContainerStyle {
    position: fixed;
    top: 0;
    width: var(--app-width);
    height: var(--control-bar-size);
    background-image: linear-gradient(270deg, #3c3c3c, #2f2f2f);
    z-index: 1;
}

.horizElement {
    flex: 1 2 auto;
    align-self: center;
    min-height: 0;
    min-width: 0;
    max-height: 4rem;
    max-width: 26.1rem;
}

.emptyContainer {
    width: 125px;
    height: 100%;
}
