@use 'Styles/variables' as v;

.control-bar-container {
    position: fixed;
    top: 0;
    width: v.$app-width;
    height: v.$control-bar-size;
    background-image: linear-gradient(270deg, #3c3c3c, #2f2f2f);
    z-index: 1;
}

.control-bar-top {
    display: flex;
    justify-content: space-between;
    height: 40%;
}

.control-bar-bottom {
    display: flex;
    height: 60%;
    align-items: center;
}

.control-bar-logo {
    align-self: center;
    width: 30rem;
}
