.topBarStyle {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    min-width: 0px;
    min-height: 0px;
}

.tabBarStyle {
    height: 60%;
}

.tabBarContainer {
    display: flex;
    height: 100%;
}

.overallContainerStyle {
    position: fixed;
    top: 0;
    width: 1080px;
    height: 15%;
    background-image: linear-gradient(270deg, #3c3c3c, #2f2f2f);
    z-index: 1;
}

.horizElement {
    flex: 1 2 auto;
    align-self: center;
    min-height: 0;
    min-width: 0;
    max-height: 100%;
    max-width: 38%;
}

.emptyContainer {
    width: 11%;
    height: 100%;
}
