@use 'Styles/variables' as v;

.reset-button {
    border: 0.1rem transparent;
    padding: 0.3rem;
    width: 230px;
    max-width: 230px;
    justify-self: left;
    flex: 1 2 auto;
    margin: 0.5rem;
    margin-right: 1.5rem;

    height: 4rem;
    min-width: 110px;

    font-family: v.$base-font;
    font-size: 1.4rem;
    color: white;

    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    background-image: linear-gradient(180deg, #353535, #2d2d2d), linear-gradient(180deg, #00eb86, #00cdcf);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;

    &:hover {
        box-shadow: none;
        background-image: linear-gradient(180deg, v.$ultraleap-green, #00ccce),
            linear-gradient(180deg, #00eb86, #00cdcf);
    }

    > p {
        font-family: v.$base-font;
        display: inline-block;
        margin: 0;
        font-size: 22px;
        padding-bottom: 3px;
        vertical-align: middle;
        text-align: center;
    }
}

video.InteractionPreview {
    margin: 0.75rem;
    margin-right: 1.5rem;
    border-radius: 1rem;
    flex: 1 1 auto;

    max-width: 30rem;
    max-height: 17.5rem;
    height: 17.5rem;
    object-fit: cover;
}

video.InteractionPreview.Interaction0 {
    object-position: 50% 0rem;
}

video.InteractionPreview.Interaction1 {
    object-position: 50% -36.5rem;
}

video.InteractionPreview.Interaction2 {
    object-position: 50% -18.5rem;
}

.verticalContainer {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}

.halfWidth {
    min-width: 33.5rem;
    max-width: 33.5rem;
}

.sideSpacing {
    margin-left: 1.5rem;
    user-select: none;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
}

.backgroundLabel {
    text-align: left;
    font-size: 1.4rem;
    font-family: v.$base-font;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.75rem;

    box-shadow: 0 2px 10px 0 #00000099;
    background: v.$dark-grey-gradient;
    border: 1px solid #ffffff1a;
    border-radius: 0.5rem;

    min-height: 5rem;
    max-height: 5rem;
}

p {
    flex: 1 1 auto;
    margin: 0px;
    text-align: left;

    min-height: 1rem;
    max-height: 2.5rem;
}
