.status-container {
    height: 100%;
    min-width: 6rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.status-icon-container {
    position: relative;
    display: flex;

    img {
        align-self: center;
    }
}

.status-dot {
    position: absolute;
    right: -15%;
    top: 2.8rem;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;

    &.status-dot-ok {
        background-image: linear-gradient(180deg, #00eb86, #00cdcf);
    }

    &.status-dot-bad {
        background-image: linear-gradient(180deg, #e2164d, #d11883);
    }
}
