.statusContainer {
    height: 100%;
    min-width: 6rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.statusIconContainer {
    position: relative;
    display: flex;
}

.statusIconContainer img {
    align-self: center;
}

.statusDot {
    position: absolute;
    right: -15%;
    top: 1.5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
}
