@use '@/variables.module.scss' as v;
@use '@/App.module.scss';

:root {
    --size: 96vw;
    --padding: 10vh;
}

@media (orientation: landscape) {
    :root {
        --size: 70vh;
        --padding: 15vh;
    }
}

.container {
    margin: 0 2vw;
}

.sub-container {
    @media (orientation: landscape) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}

.title-line {
    @include App.title-line;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vh 0;
}

// ===== Camera Feeds =====
.cam-feed-box {
    position: relative;
    margin-bottom: 1.5vh;
    width: var(--size);
    height: var(--size);

    background: v.$dark-grey-gradient;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    box-sizing: border-box;

    user-select: none;

    .cam-feed-box-feed {
        $canvas-size: calc(var(--size) - var(--padding));
        z-index: 10;
        margin-top: 50px;

        &--render {
            width: $canvas-size;
            height: $canvas-size;
            @media (orientation: landscape) {
                width: $canvas-size;
                height: $canvas-size;
            }
            margin-left: calc(var(--padding) / 2);

            border: 1px solid #717171;
        }
    }

    > p {
        font-size: 25px;
        line-height: 20px;
        margin-top: calc((var(--padding) / 2 - 30px) / 2);

        text-align: center;
        color: white;
        font-family: v.$base-font;
    }
}

.lens-toggle-container {
    display: flex;
    width: calc(var(--size) / 3);
    height: calc(var(--padding) / 4);
    margin: calc(var(--padding) / 4) auto;
    align-items: center;
}

.lens-toggle {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: v.$light-grey-gradient;
    border: 1px solid #ffffff29;
    border-radius: 50px 0px 0px 50px;
    box-shadow: inset 0px 1px 4px #000000d0;

    > p {
        color: white;
        font-size: 16px;
        font-family: v.$base-font;
        text-align: center;
    }

    &--left {
        @extend .lens-toggle;
        border-radius: 50px 0 0 50px;

        > p {
            margin-left: 10px;
        }
    }

    &--right {
        @extend .lens-toggle;
        border-radius: 0 50px 50px 0;

        > p {
            margin-right: 5px;
        }
    }

    &--active {
        background: v.$ultraleap-green-gradient;
        border: 1px solid #fdfdfd73;
        > p {
            color: black;
        }
    }

    &--hovered {
        box-shadow: inset 0px 1px 4px #000000d0, 0px 0px 30px v.$ultraleap-green;
        > p {
            font-size: 18px;
        }
    }
}

// ===== Masking Sliders =====
@mixin masking-slider($top, $left, $vertical) {
    $canvas-size: calc(var(--size) - var(--padding));

    position: absolute;
    $slider-size: 10px;

    $canvas-margin: calc($canvas-size / 8);
    $canvas-padding: calc($canvas-size / 2 - $canvas-margin);

    // Fix these colors so same for top and side
    $gradient-color: #00000000 0%, v.$ultraleap-green 50%, #00000000 100%;
    @if $vertical {
        top: $top;
        left: calc($left - ($slider-size / 2));
        height: 0px;
        width: $slider-size;
        padding: $canvas-padding 0 $canvas-padding 0;
        margin: $canvas-margin 0 $canvas-margin 0;
        background: linear-gradient(0deg, $gradient-color);
    } @else {
        top: calc($top - ($slider-size / 2));
        left: $left;
        height: $slider-size;
        width: 0px;
        padding: 0 $canvas-padding 0 $canvas-padding;
        margin: 0 $canvas-margin 0 $canvas-margin;
        background: linear-gradient(90deg, $gradient-color);
    }

    .masking-slider-knob {
        @include masking-slider-knob($vertical: $vertical);
    }
}

@mixin masking-slider-knob($vertical) {
    --size: 50px;
    --arrow-size: 8px;

    height: var(--size);
    width: var(--size);
    box-sizing: border-box;
    border-radius: 50%;

    background-image: linear-gradient(270deg, v.$ultraleap-green, #00ccce);
    box-shadow: 0px 2px 9px #000000cb;
    border: 1px solid #ffffff73;

    display: flex;
    justify-content: space-around;
    align-items: center;

    $border-hidden: var(--arrow-size) solid transparent;
    $border-shown: var(--arrow-size) solid v.$app-background-color;
    .masking-slider-arrow--one,
    .masking-slider-arrow--two {
        border: $border-hidden;
    }

    @if $vertical {
        margin-left: calc((var(--size) / -2) + 5px);
        margin-top: calc(var(--size) / -2);
        .masking-slider-arrow--one {
            border-left: none;
            border-right: $border-shown;
        }
        .masking-slider-arrow--two {
            border-left: $border-shown;
            border-right: none;
        }
    } @else {
        flex-direction: column;
        margin-left: calc(var(--size) / -2);
        margin-top: calc((var(--size) / -2) + 5px);
        .masking-slider-arrow--one {
            border-top: none;
            border-bottom: $border-shown;
        }
        .masking-slider-arrow--two {
            border-top: $border-shown;
            border-bottom: none;
        }
    }

    &.masking-slider-knob--dragging {
        --size: 60px;
        --arrow-size: 10px;
        box-shadow: 0px 0px 30px v.$ultraleap-green;
    }
}

.masking-slider--left {
    @include masking-slider(0px, 0px, true);
    border-radius: 0 50% 50% 0;
}

.masking-slider--right {
    @include masking-slider(0px, 40vh, true);
    border-radius: 50% 0 0 50%;
}

.masking-slider--upper {
    @include masking-slider(0px, 0px, false);
    border-radius: 0 0 50% 50%;
}

.masking-slider--lower {
    @include masking-slider(40vh, 0px, false);
    border-radius: 50% 50% 0 0;
}

.slider-container {
    position: absolute;
    left: calc(var(--padding) / 2);
    height: calc(var(--size) - var(--padding));
    width: calc(var(--size) - var(--padding));
}

// ===== Bottom container =====
.cam-feeds-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cam-feeds-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2vw;
    @media (orientation: landscape) {
        grid-template-columns: 1fr;
    }
}

// ===== Camera Feed Option =====
.cam-feeds-option {
    background: v.$dark-grey-gradient;
    height: 5vh;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 100%;

    @media (orientation: landscape) {
        width: 35vw;
        height: 10vh;
    }
}

.cam-feeds-option-text {
    width: 72%;
    text-align: left;
    font-family: v.$base-font;
    color: white;
    user-select: none;

    > h1 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    > p {
        font-size: 15px;
        opacity: 0.5;
    }
}

.cam-feeds-option-toggle {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto 0 auto 0;
    height: 40px;

    > div {
        margin: 0;
    }
}
