@use '@/variables.module.scss' as v;

.tab {
    display: flex;
    border-radius: 1.2rem 1.2rem 0 0;
    user-select: none;

    &--active {
        background-color: v.$app-background-color;
    }

    &__button {
        flex-grow: 1;
        background-color: transparent;
        border: none;

        font-family: v.$base-font;
        color: white;
        font-size: 2rem;

        &__icon {
            height: 50%;
        }

        &--hovered {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px v.$ultraleap-green, 0 0 40px v.$ultraleap-green,
                0 0 50px v.$ultraleap-green;
        }

        &--pressed {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
        }
    }

    &__divider {
        width: 2%;
        top: 20%;
        height: 60%;
        background-color: v.$light-grey;
        position: relative;

        @media (orientation: landscape) {
            width: 1%;
        }

        &--hidden {
            background-color: transparent;
        }
    }
}
