@use '@/variables.module.scss' as v;
@use '@/Pages/Interactions/Interactions.module.scss';

#color-picker {
    .react-colorful {
        height: 100%;
        width: 100%;
        display: flex;

        &__saturation {
            border-bottom: none;
        }

        // &__saturation {
        //     margin-left: 5%;
        //     position: relative;
        //     width: 45%;
        //     left: 50%;
        // }

        // &__hue {
        //     position: absolute;
        //     width: 50%;
        //     top: 10%;
        // }

        // &__alpha {
        //     position: absolute;
        //     width: 50%;
        //     top: 30%;
        // }

        > div {
            position: absolute;
            border-radius: 10px;
        }

        &__pointer {
            width: 50px;
            height: 50px;
            border-width: 5px;
        }

        &__saturation {
            top: 0%;
            height: 100%;
            left: 0%;
            width: 50%;

            &-pointer {
                width: 60px;
                height: 60px;
            }
        }

        @mixin left-aligned {
            height: 15%;
            left: 55%;
            width: 45%;
        }

        &__hue {
            top: 12%;
            @include left-aligned;
        }

        &__alpha {
            top: 39%;
            @include left-aligned;
        }
    }

    &__text {
        position: absolute;
        top: 68%;
        height: 20%;
        left: 65%;
        width: 25%;

        border: 2px solid black;
        border-radius: 10px;

        font-size: 2rem;
        text-align: center;
    }
}
