@use '@/variables.module.scss' as v;
@use '@/App.module.scss';
@use '@/Pages/Interactions/Interactions.module.scss';

.title-line {
    @include App.title-line;
    justify-content: space-between;
    align-items: center;

    > button {
        @media (orientation: landscape) {
            margin: 0 1vw;
        }
    }
}

.label-container {
    @extend .input-label-container;
    height: 7rem;

    &__label {
        margin-left: 0.75rem;
        color: v.$ultraleap-green;
        margin-left: 0.75rem;
        font-size: 1.7rem;
        max-height: none;
    }

    > button {
        margin-right: 0.75rem;
    }
}

.container {
    margin: 0 2vw;

    .section {
        @media (orientation: landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 2vw;
        }

        .two-cols {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2vw;
            align-items: center;
        }
    }
}

@function createCircle($start, $width, $color) {
    @return radial-gradient(
        circle at 50% 50%,
        transparent $start,
        $color calc($start + 1%),
        $color $start + $width,
        transparent calc($start + $width + 1%)
    );
}

.cursor-preview {
    background-color: paleturquoise;
    height: 95%;
    border-radius: 0.5rem;

    background-image: createCircle(45%, 7%, var(--outer-fill)), createCircle(-1%, 25%, var(--center-fill)),
        createCircle(24%, 2.5%, var(--center-border));
}

.page-divider {
    @include App.page-divider;
}

.color-picker {
    @extend .input-label-container;
    padding: 0;
    margin-bottom: 1.5rem;
    height: 20vh;
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;

    &__tabs {
        background-color: v.$app-background-color;
        > div {
            border-radius: 0.5rem 0.5rem 0 0;
            > button {
                font-size: 1.5rem;
            }
        }
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__body {
        position: relative;
        left: 2.5%;
        height: 90%;
        width: 95%;
        gap: 0.5rem;
    }
}
