@use '@/variables.module.scss' as v;
@use '@/App.module.scss';
@use '@/Pages/Interactions/Interactions.module.scss';

.title-line {
    @include App.title-line;
    justify-content: space-between;
    align-items: center;

    > button {
        @media (orientation: landscape) {
            margin: 0 1vw;
        }
    }
}

.label-container {
    @extend .input-label-container;
    height: 7rem;

    &__label {
        margin-left: 0.75rem;
        color: v.$ultraleap-green;
        margin-left: 0.75rem;
        font-size: 1.7rem;
        max-height: none;
    }

    > button {
        margin-right: 0.75rem;
    }
}

.container {
    margin: 0 2vw;

    .section {
        @media (orientation: landscape) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 2vw;
        }

        .two-cols {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2vw;
            align-items: center;
        }
    }
}

@function createCircle($start, $width, $color) {
    @return radial-gradient(
        circle at 50% 50%,
        transparent $start,
        $color calc($start + 1%),
        $color $start + $width,
        transparent calc($start + $width + 1%)
    );
}

.cursor-preview {
    background-color: rebeccapurple;
    height: 95%;
    border-radius: 0.5rem;

    &__cursor {
        height: 85%;
        background-image: createCircle(45%, 5%, var(--outer-fill)), createCircle(-1%, 25%, var(--center-fill)),
            createCircle(23%, 3.5%, var(--center-border));
    }

    &__bg-selector {
        height: 15%;
        background-color: #ffffff60;

        width: 40%;
        padding: 0% 30%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        > img {
            box-shadow: v.$dark-box-shadow;
            border-radius: 10px;
        }
    }
}

.page-divider {
    @include App.page-divider;
}
