@use '@/variables.module.scss' as v;

$hover-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px v.$ultraleap-green, 0 0 40px v.$ultraleap-green,
    0 0 50px v.$ultraleap-green;

.tab-button {
    cursor: default;
    align-self: stretch;

    user-select: none;

    border-radius: 1.2rem 1.2rem 0 0;
    border: none;
    background-color: transparent;

    flex: 1 1 50%;
    justify-content: center;
    align-items: center;

    font-family: v.$base-font;
    color: white;
    font-size: 2.4rem;

    .icon--container {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            height: 70%;
        }
    }

    &--active {
        background-color: v.$app-background-color;
    }

    &--hovered {
        text-shadow: $hover-shadow;
    }

    &--pressed {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
}
