@use '@/variables.module.scss' as v;

.tab {
    display: flex;

    &__button {
        cursor: default;
        align-self: stretch;

        user-select: none;

        border-radius: 1.2rem 1.2rem 0 0;
        border: none;
        background-color: transparent;

        flex-grow: 1;

        font-family: v.$base-font;
        color: white;
        font-size: 2rem;

        &__icon {
            height: 50%;
        }

        &--active {
            background-color: v.$app-background-color;
        }

        &--hovered {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px v.$ultraleap-green, 0 0 40px v.$ultraleap-green,
                0 0 50px v.$ultraleap-green;
        }

        &--pressed {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
        }
    }

    &__divider {
        $height: 60%;
        width: 2%;
        background-color: v.$app-background-color;
        position: relative;
        top: calc((100% - $height) / 2);
        height: $height;
    }
}
