@use '@/variables.module.scss' as v;

.tab-bar {
    position: sticky;
    top: v.$header-height;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    width: 100vw;
    height: 10vh;
    @media (orientation: portrait) {
        height: 5vh;
    }
}
