@use '@/variables.module.scss' as v;

.label {
    margin-left: 0.75rem;
    height: 5rem;
    display: flex;
    align-items: center;
    text-align: left;
}

.text {
    background: transparent;
    border: none;
    width: 8rem;
    height: 3rem;
    padding: 0px;

    text-align: center;
    font-family: MontserratBold, Arial;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 2px 6px #0000004d;
}

.container {
    height: 3rem;
    margin-right: 1.5rem;
    padding: 0.2rem;

    background: v.$light-grey-gradient;
    box-shadow: 0px 2px 5px #00000080;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
}

.background-label {
    text-align: left;
    font-size: 1.5rem;
    font-family: v.$base-font;
    color: white;

    display: flex;
    align-items: center;

    margin: 0.75rem 0;
    background-image: v.$dark-grey-gradient;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: double 0.25rem transparent;
    box-shadow: 0 2px 10px 0 #00000099;
    border-radius: 0.5rem;

    height: 5rem;

    &--selected {
        background-image: v.$dark-grey-gradient, v.$outline-button-gradient;
    }
}
