@use '@/variables.module.scss' as v;
@use '@/App.module.scss';

.title-line {
    @include App.title-line;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 0;
}

.container {
    margin: 0 2vw;
}

.page-divider {
    @include App.page-divider;
}

.info-table {
    background: v.$dark-grey-gradient;
    box-shadow: v.$dark-box-shadow;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    padding: 0 2%;

    display: grid;
    gap: 0 5vw;

    :nth-last-child(-n + 1) {
        border-bottom: none;
    }

    @media (orientation: landscape) {
        grid-template-columns: 1fr 1fr;
        :nth-last-child(-n + 2) {
            border-bottom: none;
        }
    }

    &__entry {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 5.5vh;
        @media (orientation: landscape) {
            height: 10vh;
        }

        font-size: 1.7em;
        font-family: v.$base-font;

        border-bottom: 2px solid #666666;

        &__title {
            color: white;
            text-align: left;
        }

        &__text {
            color: white;
            text-align: right;
        }

        &__button {
            height: 60%;
            width: 40%;
            color: white;
            > button {
                position: relative;
                height: 100%;
                border-radius: 50px;
                width: 100%;
                > h1 {
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    font-size: 2em;
                    @media (orientation: landscape) {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}
