@use 'Styles/variables' as v;

.tab-button {
    cursor: default;
    align-self: stretch;

    user-select: none;

    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: transparent;
    border-color: transparent;

    flex: 1 1 50%;

    font-family: v.$base-font;
    color: white;
    font-size: 2.4rem;
}

.tab-button--active {
    background-color: v.$app-background-color;
    border-top-color: v.$app-background-color;
}

.tab-button--hovered {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px v.$ultraleap-green, 0 0 40px v.$ultraleap-green,
        0 0 50px v.$ultraleap-green;
}

.tab-button--pressed {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
}
