.tabButton {
    cursor: default;
    align-self: stretch;

    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: transparent;
    border-color: transparent;

    flex: 1 1 auto;

    font-family: MontserratRegular, Arial;
    color: white;
    font-size: 2.4rem;
}

.tabButtonActive {
    background-color: var(--app-background-color);
    border-top-color: var(--app-background-color);
}

.tabButtonHovered {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--ultraleap-green), 0 0 40px var(--ultraleap-green),
        0 0 50px var(--ultraleap-green);
}
