.textEntryLabel {
    margin-left: 0.75rem;
    max-width: 22.5rem;
    max-height: 5rem;
    text-align: left;
    vertical-align: middle;
}

.textEntryText {
    background: transparent;
    border: none;
    max-width: 12rem;
    min-height: 3rem;
    padding: 0px;

    text-align: center;
    font-family: "Museo Sans", NowBold, Arial;
    font-size: 1.5rem;
    color:white;
    text-shadow: 0px 2px 6px #0000004D;
}

.textEntryContainer {
    min-height: 3rem;
    min-width: 12rem;
    max-width: 12rem;
    margin-right: 1.5rem;
    padding: 0.2rem;

    background: transparent linear-gradient(180deg, #5C5C5C 0%, #454545 100%)0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000080;
    border: 1px solid #FFFFFF1A;
    border-radius: 10px;
}

.backgroundLabel {
    text-align: left;
    font-size: 1.5rem;
    font-family: "Museo Sans", NowRegular, Arial;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: .75rem;

    box-shadow: 0 2px 10px 0 #00000099;
    background: transparent linear-gradient(180deg, #373737 0%, #2C2C2C 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF1A;
    border-radius: 0.5rem;

    min-height: 5rem;
    max-height: 5rem;
}