.textEntryLabel {
    margin-left: 0.75rem;
    max-width: 22.5rem;
    max-height: 5rem;
    text-align: left;
    vertical-align: middle;
}

.textEntryText {
    background: transparent;
    border: none;
    max-width: 8rem;
    min-height: 3rem;
    padding: 0px;

    text-align: center;
    font-family: "Museo Sans", NowBold, Arial;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 2px 6px #0000004d;
}

.textEntryContainer {
    min-height: 3rem;
    min-width: 8rem;
    max-width: 8rem;
    margin-right: 1.5rem;
    padding: 0.2rem;

    background: transparent linear-gradient(180deg, #5c5c5c 0%, #454545 100%) 0%
        0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #00000080;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
}

.textEntryBackgroundLabel {
    text-align: left;
    font-size: 1.5rem;
    font-family: "Museo Sans", NowRegular, Arial;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.75rem;
    background-image: linear-gradient(180deg, #353535, #2d2d2d),
        linear-gradient(180deg, #373737 0%, #2c2c2c 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: double 0.25rem transparent;
    box-shadow: 0 2px 10px 0 #00000099;
    border-radius: 0.5rem;

    min-height: 5rem;
    max-height: 5rem;
}

.textEntryBackgroundLabel.textEntryBackgroundLabelSelected {
    background-image: linear-gradient(180deg, #353535, #2d2d2d),
        linear-gradient(180deg, #00eb86, #00cdcf);
}
