@use 'Styles/variables' as v;

/* The switch - the box around the slider */
.switch {
    margin: 0.75rem;
    flex: 1 1 auto;
    position: relative;
    display: inline-block;
    max-width: 60px;
    max-height: 34px;
    border: 1px solid #ffffff29;
    border-radius: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchLabel {
    margin-left: 0.75rem;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, #5c5c5c, #454545);
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: inset 0px 1px 4px #000000d0;
}

.toggle:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    background-image: linear-gradient(180deg, #ffffff, #d3d3d3);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .toggle {
    background-image: linear-gradient(180deg, v.$ultraleap-green, #00ccce);
}

input:checked + .toggle:before {
    transform: translateX(26px);
}
