@use 'Styles/variables' as v;

.switch-label {
    margin-left: 0.75rem;
}

.switch {
    margin-right: 0.75rem;
    position: relative;
    width: 60px;
    height: 34px;
    border: 1px solid #ffffff29;
    border-radius: 34px;

    background-image: linear-gradient(180deg, #5c5c5c, #454545);
    transition: 0.4s;
    box-shadow: inset 0px 1px 4px #000000d0;

    // Switch knob
    &:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        background-image: linear-gradient(180deg, #ffffff, #d3d3d3);
        transition: 0.4s;
        border-radius: 50%;
    }
}

input:checked + .switch {
    background-image: linear-gradient(180deg, v.$ultraleap-green, #00ccce);
}

input:checked + .switch:before {
    transform: translate(26px);
}
