@use '@/variables.module.scss' as v;

.app {
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
    background-color: v.$app-background-color;
}

@mixin title-line {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
}

@mixin page-divider {
    height: 10px;
    margin: 40px 0;
    background-color: v.$dark-grey;
}

.fade-enter {
    opacity: 0;
}
.fade-exit {
    opacity: 1;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
