.app {
    text-align: center;
    height: var(--app-height);
    width: var(--app-width);
    overflow-x: hidden;
    background-color: var(--app-background-color);
}

.pageContent {
    margin-top: var(--control-bar-size);
    height: calc(100% - var(--control-bar-size));
}
