@use '@/variables.module.scss' as v;

.app {
    text-align: center;
    height: 100vh;
    background-color: v.$app-background-color;
}

.page-content {
    background-color: v.$app-background-color;
}

@mixin title-line {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.fade-enter {
    opacity: 0;
}
.fade-exit {
    opacity: 1;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
