.app {
    text-align: center;
    height: 1920px;
    width: 1080px;
    overflow-x: hidden;
    background-color: #222222;
}

.pageContent {
    margin-top: 170px;
    height: calc(100% - 170px);
}
