.app {
    text-align: center;
    height: 100vh;
    width: var(--app-width);
    margin-left: var(--app-margin-left);
    background-color: var(--app-background-color);
}

.pageContent {
    padding-top: var(--control-bar-size);
    height: calc(100 - var(--control-bar-size));
    background-color: var(--app-background-color);
}
