@use '@/variables.module.scss' as v;

body {
    margin: 0;
    background-color: v.$app-background-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
    overflow-y: hidden;

    ::-webkit-scrollbar {
        width: 2px;
        &-track {
            background: v.$dark-grey;
        }
        &-thumb {
            background: #ffffff;
        }
    }
}
