$app-width: 1080px;
$app-margin-left: calc((100% - $app-width) / 2);
$app-background-color: #222222;
$ultraleap-green: #00eb85;
$ultraleap-green-gradient: linear-gradient(180deg, $ultraleap-green, #00ccce);
$light-grey-gradient: linear-gradient(180deg, #5c5c5c 0%, #454545 100%);
$dark-grey-gradient: linear-gradient(180deg, #373737 0%, #2c2c2c 100%);
$darker-grey-gradient: linear-gradient(180deg, #353535 0%, #2d2d2d 100%);
$outline-button-gradient: linear-gradient(180deg, $ultraleap-green, #00cdcf);
$base-font: MontserratRegular, Arial;

:export {
    appWidth: $app-width;
    appMarginLeft: $app-margin-left;
    appBackgroundColor: $app-background-color;
    ultraleapGreen: $ultraleap-green;
    ultraleapGreenGradient: $ultraleap-green-gradient;
    lightGreyGradient: $light-grey-gradient;
    darkGreyGradient: $dark-grey-gradient;
    baseFont: $base-font;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOutAnimation {
    0% {
        opacity: 0;
    }
    20%,
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
