@use '@/variables.module.scss' as v;
@use '@/App.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}

.section-container {
    @media (orientation: landscape) {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2vw;
    }
}

.reset-button {
    border: 0.1rem transparent;
    padding: 0.3rem;
    width: 230px;

    height: 4rem;

    font-family: v.$base-font;
    font-size: 1.4rem;
    color: white;

    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    background-image: linear-gradient(180deg, #353535, #2d2d2d), linear-gradient(180deg, #00eb86, #00cdcf);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;

    &.hover {
        box-shadow: none;
        background-image: linear-gradient(180deg, v.$ultraleap-green, #00ccce),
            linear-gradient(180deg, v.$ultraleap-green, #00cdcf);
    }

    > p {
        font-family: v.$base-font;
        display: inline-block;
        margin: 0;
        font-size: 22px;
        padding-bottom: 3px;
        vertical-align: middle;
        text-align: center;
    }
}

video.InteractionPreview {
    border-radius: 1rem;

    width: 30rem;
    height: 17.5rem;
    object-fit: cover;
    justify-self: center;
}

video.InteractionPreview.Interaction0 {
    object-position: 50% 0rem;
}

video.InteractionPreview.Interaction1 {
    object-position: 50% -36.5rem;
}

video.InteractionPreview.Interaction2 {
    object-position: 50% -18.5rem;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}

.horizontalContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    align-items: center;
}

.input-label-container {
    text-align: left;
    font-size: 1.4rem;
    font-family: v.$base-font;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.75rem 0;

    box-shadow: 0 2px 10px 0 #00000099;
    background: v.$dark-grey-gradient;
    border: 1px solid #ffffff1a;
    border-radius: 0.5rem;

    height: 5rem;
}

p {
    flex: 1 1 auto;
    margin: 0px;
    text-align: left;

    min-height: 1rem;
    max-height: 2.5rem;
}

.title-line {
    @include App.title-line;
    justify-content: space-between;
    align-items: center;
}
