@use '@/variables.module.scss' as v;
@use '@/App.module.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}

.section-container {
    @media (orientation: landscape) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vw;
    }
}

video.InteractionPreview {
    border-radius: 1rem;

    width: 30rem;
    height: 17.5rem;
    object-fit: cover;
    justify-self: center;
}

video.InteractionPreview.Interaction0 {
    object-position: 50% 0rem;
}

video.InteractionPreview.Interaction1 {
    object-position: 50% -36.5rem;
}

video.InteractionPreview.Interaction2 {
    object-position: 50% -18.5rem;
}

.interaction-zone-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
}

.horizontalContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    align-items: center;
}

.input-label-container {
    text-align: left;
    font-size: 1.4rem;
    font-family: v.$base-font;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.75rem 0;

    box-shadow: 0 2px 10px 0 #00000099;
    background: v.$dark-grey-gradient;
    border: 1px solid #ffffff1a;
    border-radius: 0.5rem;

    height: 5rem;
    @media (orientation: landscape) {
        height: 7vh;
    }

    padding: 0 10px;
}

p {
    flex: 1 1 auto;
    margin: 0px;
    text-align: left;

    min-height: 1rem;
    max-height: 2.5rem;
}

.title-line {
    @include App.title-line;
    justify-content: space-between;
    align-items: center;
}

.misc-button-container {
    @media (orientation: landscape) {
        button {
            margin: 0 1vw;
        }
    }
}

.label {
    margin-left: 0.75rem;
    max-width: 17.5rem;
    max-height: 5rem;
    text-align: left;
    vertical-align: middle;
}

.leftLabel {
    margin: 0.5rem;
}

.rightLabel {
    margin: 0.5rem;
    align-self: right;
    text-justify: right;
}
