.version-container {
    height: 100%;
    min-width: 6rem;
    display: flex;
    justify-content: center;
    padding-left: 2rem;
}

.version-information {
    position: absolute;
    top: 80px;
    right: 20px;
    color: #999999;
}
