.instructions {
    display: block;
    align-items: center;
    height: 320px;
}

.instructions > h1 {
    color: white;
    font-size: 3.5rem;
    font-family: MontserratRegular, Arial;
    margin-top: 0;
    margin-bottom: 10px;
}

.arrow {
    margin-left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    opacity: 50%;
    position: relative;
    display: flex;
}

.arrow > #downLine {
    width: 8px;
    background-color: #01eb85;
    height: 40px;
    margin-left: 26px;
    border-radius: 5px;
}

.arrow > #arrowHead {
    border: solid #01eb85;
    width: 8px;
    height: 8px;
    border-width: 0px 8px 8px 0;
    position: absolute;
    top: 10px;
    left: 14px;
    padding: 8px;
    transform: rotate(45deg);
    border-radius: 5px;
}

.instructions > #touchCircle {
    margin-top: 10px;
    margin-left: calc(50% - 50px);
    width: 80px;
    height: 80px;
    display: flex;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #00eb85;
    border: 10px solid #00eb85;
}

.instructions > #touchCircle > img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.interactionGuide {
    display: block;
    margin: auto;
    width: 780px;
    height: 600px;
}

.setupCompleteText {
    color: white;
    font-size: 5rem;
    font-family: MontserratRegular, Arial;
    margin-top: 0;
    margin-bottom: 10px;
}

.setupPracticeButton {
    width: 65%;
    height: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: MontserratRegular, Arial;
    background-color: #00dbac;
    color: black;
    border-radius: 25px;
}

.setupPracticeButtonHovered {
    transform: scale(1.02);
    background: transparent linear-gradient(107deg, #00ccce 0%, #00eb85 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 30px #00eb85;
}

.setupPracticeButtonPressed {
    transform: scale(0.98);
    background: transparent linear-gradient(107deg, #e2164d 0%, #d11883 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 25px #000000;
}

.setupCompleteOptionsContainer {
    height: 35%;
    margin-top: 20%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}
