.contentContainer {
    overflow: hidden;
    margin-top: calc(0% - var(--control-bar-size));
}

.instructions {
    display: block;
    align-items: center;
    height: 20vh;
}

.instructions > h1 {
    height: 7vh;
    color: white;
    font-size: 3rem;
    font-family: MontserratRegular, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.instructions .greenText {
    color: var(--ultraleap-green);
}

.fade-enter {
    opacity: 0;
}
.fade-exit {
    opacity: 1;
}
.fade-enter-active {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 150ms;
}

.loading {
    font-size: 3rem;
    font-family: MontserratRegular, Arial;
}

.loading:after {
    display: inline-block;
    animation: loadingDots steps(1, end) 1s infinite;
    content: '';
}

@keyframes loadingDots {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
}

@media only screen and (max-height: 1600px) {
    .arrow {
        visibility: hidden;
    }
}

.arrow {
    height: 3vh;
    width: 3vh;
    display: flex;
    margin: auto;
}

.touchCircle {
    display: flex;
    margin-top: 2.5vh;
    margin-left: calc(50% - 2.5vh);
    padding: 0.5vh;
    height: 3vh;
    width: 3vh;
    position: relative;
    border-radius: 50%;
    border: 0.5vh solid var(--ultraleap-green);
}

.progressCircleContainer {
    z-index: 0;
    position: absolute;
    left: calc(50% - 4.5vh);
    height: 9vh;
    width: 9vh;
}

.handNotFoundContainer {
    display: flex;
    margin: auto;
    background: transparent linear-gradient(180deg, #e1164d 0%, #d11882 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    height: 3vh;
    width: 320px;
    justify-content: center;
    align-items: center;
}
.handNotFoundContainer > p {
    flex: none;
    color: white;
    font-size: 1.6rem;
    font-family: MontserratRegular, Arial;
    text-align: center;
    margin-left: 5px;
}

.interactionGuide {
    display: block;
    margin: auto;
    width: 780px;
    height: 32vh;
}

.setupCompleteOptionsContainer {
    height: 800px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.setupCompleteText {
    color: white;
    font-size: 5rem;
    font-family: MontserratRegular, Arial;
    margin-top: 0;
    margin-bottom: 10px;
}

.setupPracticeButton {
    width: 60%;
    height: 25%;
    text-align: center;
    font-size: 3rem;
    font-family: MontserratRegular, Arial;
    background: transparent linear-gradient(107deg, #00ccce 0%, var(--ultraleap-green) 100%) 0% 0% no-repeat padding-box;
    border: 0px;
    border-radius: 25px;
}

.setupPracticeButtonHovered {
    transform: scale(1.3);
    box-shadow: 0px 5px 30px var(--ultraleap-green);
}
