@use 'Styles/variables' as v;

@mixin cam-feed-box($size, $padding) {
    margin: auto;
    width: $size;
    height: $size;

    background: v.$dark-grey-gradient;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;

    > canvas {
        $canvas-size: $size - $padding;
        width: $canvas-size;
        height: $canvas-size;
        margin-top: calc((100% - $canvas-size) / 2);

        border: 1px solid #717171;
    }

    > p {
        font-size: 25px;
        line-height: 20px;
        margin-top: calc(($padding / 2 - 30px) / 2);

        text-align: center;
        color: white;
        font-family: v.$base-font;
    }
}

.cam-feed-box--main {
    @include cam-feed-box(1000px, 200px);
    margin-top: 3%;
    margin-bottom: 3%;
}

.cam-feeds-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.cam-feed-box--sub {
    @include cam-feed-box(480px, 120px);
    margin: 0;
    position: relative;
}

.sub-feed-overlay {
    position: absolute;
    height: 102%;
    width: 102%;
    left: -1%;
    top: -1%;

    background: transparent linear-gradient(180deg, #373737 0%, #2c2c2c 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    opacity: 0.85;

    display: flex;
    align-items: center;

    box-shadow: 0px 0px 30px v.$ultraleap-green;
}

.sub-feed-overlay--content {
    width: 100%;
    user-select: none;

    > p {
        color: white;
        font-family: v.$base-font;
        text-align: center;
        font-size: 25px;
    }

    > img {
        height: 45px;
        margin-bottom: 10px;
    }
}

.cam-feeds-options-container {
    width: 480px;
    display: flex;
    flex-direction: column;
}

.cam-feeds-option {
    background: v.$dark-grey-gradient;
    width: 100%;
    height: 100px;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cam-feeds-option-text {
    width: 75%;
    text-align: left;
    font-family: v.$base-font;
    color: white;
    user-select: none;

    > h1 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    > p {
        font-size: 15px;
        opacity: 0.5;
    }
}

.cam-feeds-option-toggle {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto 0;
    height: 40px;

    > div {
        margin: 0;
    }
}
