@use 'Styles/variables' as v;

// ===== Camera Feeds =====
@mixin cam-feed-box($size, $padding) {
    position: relative;
    margin: auto;
    width: $size;
    height: $size;

    background: v.$dark-grey-gradient;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    box-sizing: border-box;

    user-select: none;

    > canvas {
        $canvas-size: $size - $padding;
        width: $canvas-size;
        height: $canvas-size;
        margin-top: calc((100% - $canvas-size) / 2);

        border: 1px solid #717171;
    }

    > p {
        font-size: 25px;
        line-height: 20px;
        margin-top: calc(($padding / 2 - 30px) / 2);

        text-align: center;
        color: white;
        font-family: v.$base-font;
    }
}

.cam-feed-box--main {
    @include cam-feed-box(1000px, 200px);
    > canvas {
        margin-top: 50px;
    }
    margin-top: 3%;
    margin-bottom: 3%;
}

.cam-feed-box--sub {
    @include cam-feed-box(480px, 120px);
    margin: 0;
}

.lens-toggle-container {
    display: flex;
    width: 28%;
    height: 5%;
    margin: auto;
    margin-top: 4.5%;
    align-items: center;
}

.lens-toggle {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: v.$light-grey-gradient;
    border: 1px solid #ffffff29;
    border-radius: 50px 0px 0px 50px;
    box-shadow: inset 0px 1px 4px #000000d0;

    > p {
        color: white;
        font-size: 16px;
        font-family: v.$base-font;
        text-align: center;
    }

    &--left {
        @extend .lens-toggle;
        border-radius: 50px 0 0 50px;

        > p {
            margin-left: 10px;
        }
    }

    &--right {
        @extend .lens-toggle;
        border-radius: 0 50px 50px 0;

        > p {
            margin-right: 5px;
        }
    }

    &--active {
        background: v.$ultraleap-green-gradient;
        border: 1px solid #fdfdfd73;
        > p {
            color: black;
        }
    }

    &--hovered {
        box-shadow: inset 0px 1px 4px #000000d0, 0px 0px 30px v.$ultraleap-green;
        > p {
            font-size: 18px;
        }
    }
}

// ===== Masking Sliders =====
@mixin masking-slider($top, $left, $canvas-size, $vertical) {
    position: absolute;
    $size: 10px;

    $canvas-margin: calc($canvas-size / 8);
    $canvas-padding: calc($canvas-size / 2 - $canvas-margin);

    // Fix these colors so same for top and side
    $gradient-color: #00000000 0%, v.$ultraleap-green 50%, #00000000 100%;
    @if $vertical {
        top: $top;
        left: calc($left - ($size / 2));
        height: 0px;
        width: $size;
        padding: $canvas-padding 0 $canvas-padding 0;
        margin: $canvas-margin 0 $canvas-margin 0;
        background: linear-gradient(0deg, $gradient-color);
    } @else {
        top: calc($top - ($size / 2));
        left: $left;
        height: $size;
        width: 0px;
        padding: 0 $canvas-padding 0 $canvas-padding;
        margin: 0 $canvas-margin 0 $canvas-margin;
        background: linear-gradient(90deg, $gradient-color);
    }

    .masking-slider-knob {
        @include masking-slider-knob($vertical: $vertical);
    }
}

@mixin masking-slider-knob($vertical) {
    --size: 50px;
    --arrow-size: 8px;

    height: var(--size);
    width: var(--size);
    box-sizing: border-box;
    border-radius: 50%;

    background-image: linear-gradient(270deg, v.$ultraleap-green, #00ccce);
    box-shadow: 0px 2px 9px #000000cb;
    border: 1px solid #ffffff73;

    display: flex;
    justify-content: space-around;
    align-items: center;

    $border-hidden: var(--arrow-size) solid transparent;
    $border-shown: var(--arrow-size) solid v.$app-background-color;
    .masking-slider-arrow--one,
    .masking-slider-arrow--two {
        border: $border-hidden;
    }

    @if $vertical {
        margin-left: calc((var(--size) / -2) + 5px);
        margin-top: calc(var(--size) / -2);
        .masking-slider-arrow--one {
            border-left: none;
            border-right: $border-shown;
        }
        .masking-slider-arrow--two {
            border-left: $border-shown;
            border-right: none;
        }
    } @else {
        flex-direction: column;
        margin-left: calc(var(--size) / -2);
        margin-top: calc((var(--size) / -2) + 5px);
        .masking-slider-arrow--one {
            border-top: none;
            border-bottom: $border-shown;
        }
        .masking-slider-arrow--two {
            border-top: $border-shown;
            border-bottom: none;
        }
    }

    &.masking-slider-knob--dragging {
        --size: 60px;
        --arrow-size: 10px;
        box-shadow: 0px 0px 30px v.$ultraleap-green;
    }
}

.masking-slider {
    --canvas-size: 800px;
    --top-offset: 100px;
    --bottom-offset: calc(var(--top-offset) + var(--canvas-size));
    --left-offset: 100px;
    --right-offset: calc(var(--left-offset) + var(--canvas-size));
}

.masking-slider--left {
    @include masking-slider(var(--top-offset), var(--left-offset), var(--canvas-size), $vertical: true);
    border-radius: 0 50% 50% 0;
}

.masking-slider--right {
    @include masking-slider(var(--top-offset), var(--right-offset), var(--canvas-size), $vertical: true);
    border-radius: 50% 0 0 50%;
}

.masking-slider--upper {
    @include masking-slider(var(--top-offset), var(--left-offset), var(--canvas-size), $vertical: false);
    border-radius: 0 0 50% 50%;
}

.masking-slider--lower {
    @include masking-slider(var(--bottom-offset), var(--left-offset), var(--canvas-size), $vertical: false);
    border-radius: 50% 50% 0 0;
}

// ===== Bottom container =====
.cam-feeds-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.cam-feeds-options-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

// ===== Camera Feed Option =====
.cam-feeds-option {
    background: v.$dark-grey-gradient;
    width: 48.5%;
    height: 100px;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.cam-feeds-option-text {
    width: 72%;
    text-align: left;
    font-family: v.$base-font;
    color: white;
    user-select: none;

    > h1 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    > p {
        font-size: 15px;
        opacity: 0.5;
    }
}

.cam-feeds-option-toggle {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto 0;
    height: 40px;

    > div {
        margin: 0;
    }
}

.cam-feeds-option--no-TF {
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, #e2164d 0%, #d11883 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;

    position: absolute;
    bottom: -70px;
    z-index: 1;

    display: flex;
    align-items: center;

    user-select: none;

    > p {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        font-family: v.$base-font;
    }

    &--triangle {
        width: 30px;
        height: 20px;

        position: absolute;
        top: -20px;
        left: calc(50% - 15px);

        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid #e2164d;
    }
}
