@use 'Styles/variables' as v;

// ===== Camera Feeds =====
@mixin cam-feed-box($size, $padding) {
    position: relative;
    margin: auto;
    width: $size;
    height: $size;

    background: v.$dark-grey-gradient;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    box-sizing: border-box;

    user-select: none;

    > canvas {
        $canvas-size: $size - $padding;
        width: $canvas-size;
        height: $canvas-size;
        margin-top: calc((100% - $canvas-size) / 2);

        border: 1px solid #717171;
    }

    > p {
        font-size: 25px;
        line-height: 20px;
        margin-top: calc(($padding / 2 - 30px) / 2);

        text-align: center;
        color: white;
        font-family: v.$base-font;
    }
}

.cam-feed-box--main {
    @include cam-feed-box(1000px, 200px);
    margin-top: 3%;
    margin-bottom: 3%;
}

.cam-feed-box--sub {
    @include cam-feed-box(480px, 120px);
    margin: 0;
}

.sub-feed-overlay {
    position: absolute;
    height: 102%;
    width: 102%;
    left: -1%;
    top: -1%;

    background: linear-gradient(180deg, #373737 0%, #2c2c2c 100%);
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    opacity: 0.85;

    display: flex;
    align-items: center;

    box-shadow: 0px 0px 30px v.$ultraleap-green;
}

.sub-feed-overlay--content {
    width: 100%;
    user-select: none;

    > p {
        color: white;
        font-family: v.$base-font;
        text-align: center;
        font-size: 25px;
    }

    > img {
        height: 45px;
        margin-bottom: 10px;
    }
}

// ===== Masking Sliders =====
@mixin masking-slider($top, $left, $vertical) {
    position: absolute;
    top: $top;
    left: $left;

    // Fix these colors so same for top and side
    $gradient-color: #00000000 0%, v.$ultraleap-green 50%, #00000000 100%;
    @if $vertical {
        height: 0px;
        width: 10px;
        padding: 300px 0 300px 0;
        margin: 100px 0 100px 0;
        background: linear-gradient(0deg, $gradient-color);
    } @else {
        height: 10px;
        width: 0px;
        padding: 0 300px 0 300px;
        margin: 0 100px 0 100px;
        background: linear-gradient(90deg, $gradient-color);
    }

    .masking-slider-knob {
        @include masking-slider-knob($vertical: $vertical);
    }
}

@mixin masking-slider-knob($vertical) {
    --size: 50px;
    --arrow-size: 8px;

    height: var(--size);
    width: var(--size);
    box-sizing: border-box;
    border-radius: 50%;

    background-image: linear-gradient(270deg, v.$ultraleap-green, #00ccce);
    box-shadow: 0px 2px 9px #000000cb;
    border: 1px solid #ffffff73;

    display: flex;
    justify-content: space-around;
    align-items: center;

    $border-hidden: var(--arrow-size) solid transparent;
    $border-shown: var(--arrow-size) solid v.$app-background-color;
    .masking-slider-arrow--one,
    .masking-slider-arrow--two {
        border: $border-hidden;
    }

    @if $vertical {
        margin-left: calc((var(--size) / -2) + 5px);
        margin-top: calc(var(--size) / -2);
        .masking-slider-arrow--one {
            border-left: none;
            border-right: $border-shown;
        }
        .masking-slider-arrow--two {
            border-left: $border-shown;
            border-right: none;
        }
    } @else {
        flex-direction: column;
        margin-left: calc(var(--size) / -2);
        margin-top: calc((var(--size) / -2) + 5px);
        .masking-slider-arrow--one {
            border-top: none;
            border-bottom: $border-shown;
        }
        .masking-slider-arrow--two {
            border-top: $border-shown;
            border-bottom: none;
        }
    }

    &.masking-slider-knob--dragging {
        --size: 60px;
        --arrow-size: 10px;
        box-shadow: 0px 0px 30px v.$ultraleap-green;
    }
}

.masking-slider--left {
    @include masking-slider(100px, 95px, $vertical: true);
    border-radius: 0 50% 50% 0;
}

.masking-slider--right {
    @include masking-slider(100px, 895px, $vertical: true);
    border-radius: 50% 0 0 50%;
}

.masking-slider--top {
    @include masking-slider(95px, 100px, $vertical: false);
    border-radius: 0 0 50% 50%;
}

.masking-slider--bottom {
    @include masking-slider(895px, 100px, $vertical: false);
    border-radius: 50% 50% 0 0;
}

// ===== Bottom container =====
.cam-feeds-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.cam-feeds-options-container {
    width: 480px;
    display: flex;
    flex-direction: column;
}

// ===== Camera Feed Option =====
.cam-feeds-option {
    background: v.$dark-grey-gradient;
    width: 100%;
    height: 100px;
    box-shadow: 0px 2px 14px #000000;
    border: 1px solid #ffffff1a;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cam-feeds-option-text {
    width: 75%;
    text-align: left;
    font-family: v.$base-font;
    color: white;
    user-select: none;

    > h1 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    > p {
        font-size: 15px;
        opacity: 0.5;
    }
}

.cam-feeds-option-toggle {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto 0;
    height: 40px;

    > div {
        margin: 0;
    }
}
